@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap');
@import "tailwindcss";

@layer base {
    body {
        font-family: 'Mulish', sans-serif;
    }
}


/* Matnni 2 qatorga cheklash */
.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Card hover effektlari */
.hover-shadow-2xl {
    transition: box-shadow 0.3s ease;
}

.hover-shadow-2xl:hover {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}